{% extends 'base.html' %}
{% load static %}

<title>{%block title%}home{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
    <div class="well well-small">
      <p style="text-align: center; font-weight:bold;">All Category</p>
        <ul class="nav nav-list">
         {% for cat in category %}
        
         <li><a href="{% url 'thriftNEP:filter' cat.title  %}"><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
        {% endfor %}
            
           </ul>
    </div>
    
                  <div class="well well-small alert alert-warning cntr">
                      <h2>50% Discount</h2>
                      <p> 
                        Negiotion as per Seller. <br><br><a class="defaultBtn" href="#">Click here </a>
                      </p>
                  </div>           
                <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
                <br>
                <br>
                <ul class="nav nav-list promowrapper"></ul>
    
        </div>
        <div class="span9">
    <!--
    New Products
    -->
        <div class="well well-small">
        <h3>{{Name}} </h3>
            <div class="row">
              <ul class="thumbnails" style="margin-left: 12px !important;">
                {%for p in product_list%}
                <li class="span4" style="height: 350px;width:200px" >
                  <div class="thumbnail" style="height: 350px;width:200px">
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}" class="overlay"></a>
                    <!-- <a class="zoomTool" href="{% url 'thriftNEP:productdetail' p.slug%}" title="add to cart"><span class="icon-search"></span>Interested</a> -->
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}"><img src="{{p.image.url}}" alt="" style="height:180px;"></a>
                    <div class="caption cntr">
                        <h3><a href="{% url 'thriftNEP:productdetail' p.slug%}" style="color: rgb(119, 111, 208);">{{p.title}}</a></h3>
                        <p><strong>price: Rs.{{p.price}}</strong></p>
                        {% if p.status == "Sold" %}
                        <p></p><br>
                        <h4 style="color: rgb(253, 5, 5);"> Product Already Sold</h4>
                        {% else %}
                        <h4><a class="shopBtn" href="{% url 'thriftNEP:productdetail' p.slug%}" title="add to cart"> View </a></h4>
                        <br class="clr">
                        {% endif %}
                    </div>
                  </div>
                </li>
                {%endfor%}
              </ul>
            </div>        
        </div>
        </div>
        </div>





<!-- Pagination -->
    
<center style="font-size: 18px;font-weight:bold">
  {% if product_list.has_previous %} {# whether the previous page exists #}
      <a href="?page={{product_list.previous_page_number}}" style="color: #b615e7;"><<<<</a> {# link to the prev page #}
  {% endif %}
  <span style="color:#b615e7; text-align:center;">{{product_list.number}}</span> {# the current page number #}
  
  {% if product_list.has_next %} {# whether the next page exists #}
      <a href="?page={{product_list.next_page_number}}" style="color:#b615e7;">  >>>></a> {# link to the next page #}
  {% endif %}
</center>

    
    <section class="our_client">
        <hr class="soften"/>
        <h4 class="title cntr"><span class="text">About US </span></h4>
        <hr class="soften"/>
        <div class="row">
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/1.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/2.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/3.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/4.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/5.png"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="assets/img/6.png"></a>
            </div>
        </div>
    </section>
    
    <!--
    Footer
    -->
    <footer class="footer">
    <div class="row">
    <div class="span2">
    <h5>Your Account</h5>
    <a href="#">YOUR ACCOUNT</a><br>
    <a href="#">PERSONAL INFORMATION</a><br>
    <a href="#">ADDRESSES</a><br>
    <a href="#">DISCOUNT</a><br>
    <a href="#">ORDER HISTORY</a><br>
     </div>
    <div class="span2">
    <h5>Iinformation</h5>
    <a href="contact.html">CONTACT</a><br>
    <a href="#">SITEMAP</a><br>
    <a href="#">LEGAL NOTICE</a><br>
    <a href="#">TERMS AND CONDITIONS</a><br>
    <a href="#">ABOUT US</a><br>
     </div>
    <div class="span2">
    <h5>Our Offer</h5>
    <a href="#">NEW PRODUCTS</a> <br>
    <a href="#">TOP SELLERS</a><br>
    <a href="#">SPECIALS</a><br>
    <a href="#">MANUFACTURERS</a><br>
    <a href="#">SUPPLIERS</a> <br/>
     </div>
     <div class="span6">
    <h5>The standard chunk of Lorem</h5>
    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
     those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et 
     Malorum" by Cicero are also reproduced in their exact original form, 
    accompanied by English versions from the 1914 translation by H. Rackham.
     </div>
     </div>
    </footer>
    </div><!-- /container -->
    
    <div class="copyright">
      <div class="container">
        <p class="pull-right">
          <a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
        </p>
        <span>Copyright &copy; 2022 | thriftNEP store BY: Dinesh Pariyar</span>
      </div>
      </div>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>

{% endblock %}