{% extends 'base.html' %}
{% load static %}

<title>{%block title%}home{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
    <div class="well well-small">
      <p style="text-align: center; font-weight:bold;">All Category</p>
        <ul class="nav nav-list">
        {% for cat in category %}
        <hr class="soften"/>
        <li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
        <hr class="soften"/>
        {% endfor %}
            
           </ul>
    </div>

                  <div class="well well-small alert alert-warning cntr">
                      <h2>Add Your ADS here</h2>
                      <p> 
                     
                      Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
                      </p>
                  </div>           
                <a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
                <br>
                <br>
                <ul class="nav nav-list promowrapper"></ul>
    
        </div>
        <div class="span9">
    <!--
    New Products
    -->
        <div class="well well-small">
        <h3>Our Products </h3>
            <div class="row">
              <ul class="thumbnails" style="margin-left: 12px !important;">
                {%for p in product_list%}
                <li class="span4" style="height: 350px;width:200px" >
                  <div class="thumbnail" style="height: 350px;width:200px">
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}" class="overlay"></a>
                    <!-- <a class="zoomTool" href="{% url 'thriftNEP:productdetail' p.slug%}" title="add to cart"><span class="icon-search"></span>Interested</a> -->
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}"><img src="{{p.image.url}}" alt="" style="height:180px;"></a>
                    <div class="caption cntr">
                        <h3><a href="{% url 'thriftNEP:productdetail' p.slug%}" style="color: rgb(119, 111, 208);">{{p.title}}</a></h3>
                        <p><strong>price: Rs.{{p.price}}</strong></p>
                        {% if p.status == "Sold" %}
                        <p></p><br>
                        <h4 style="color: rgb(253, 5, 5);"> Product Already Sold</h4>
                        {% else %}
                        <h4><a class="shopBtn" href="{% url 'thriftNEP:productdetail' p.slug%}" title="add to cart"> View </a></h4>
                        <br class="clr">
                        {% endif %}
                    </div>
                  </div>
                </li>
                {%endfor%}
              </ul>
            </div>        
        </div>
        </div>
        </div>





<!-- Pagination -->
    
<center style="font-size: 18px;font-weight:bold">
  {% if product_list.has_previous %} {# whether the previous page exists #}
      <a href="?page={{product_list.previous_page_number}}" style="color: #b615e7;">Previous &laquo;</a> {# link to the prev page #}
  {% endif %}
  <span style="color:#b615e7; text-align:center;">{{product_list.number}}</span> {# the current page number #}
  
  {% if product_list.has_next %} {# whether the next page exists #}
      <a href="?page={{product_list.next_page_number}}" style="color:#b615e7;">&raquo; Next</a> {# link to the next page #}
  {% endif %}
</center>

<section class="our_client">
	<hr class="soften"/>
	<h4 class="title cntr"><span class="text">For More Information</span></h4>
	<hr class="soften"/>
	<div class="row">
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/khalti.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/e.jpg' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/fonepay.png' %}"></a>
		</div>

    <div class="span2">
			<a href="#"><img alt="" src="{% static 'img/esea.png' %}"></a>
		</div>

    <div class="span2">
			<a href="#"><img alt="" src="{% static 'img/esewa.png' %}"></a>
		</div>

</section>


<footer class="footer">
<div class="row-fluid">
<div class="span2">
<h5>Your Account</h5>
<a href="{%url 'thriftNEP:sellerprofile' %}">Personal Account</a><br>


 </div>
<div class="span2">
<h5>Iinformation</h5>
<a href="{% url 'thriftNEP:help'%}">Help</a><br>

 </div>
<div class="span2">
<h5>Our Offer</h5>
<a href="{% url 'thriftNEP:home' %}">OUR PRODUCTS</a> <br>
<a href="#">TOP SELLERS</a><br>

 </div>
 <div class="span6">
<h5>About Us</h5>

 </div>
 </div>
</footer>
</div>

<br>
<div class="copyright" style="background-color: #ffffff;">
<div class="container">
	<p class="pull-right">
		<a href="{% url 'thriftNEP:home' %}"><img src="{% static 'img/logo1.png' %}" alt="logo" style="height:30px; width:150px;"></a>

	</p>
	<span style="font-size: 16px;">Copyright &copy; 2022 Designed By :: <span style="color: #252427; font-weight:bolder; font-style:unset">DINESH PARIYAR</span> </span>
</div>
</div>


    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

{% endblock %}