{% extends 'base.html' %}
{% load static %}

<title>{%block title%}ForgotPassword{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
          <p style="text-align: center; font-weight:bold;">All Category</p>
            <ul class="nav nav-list">
            {% for cat in category %}
            <hr class="soften"/>
            <li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
            <hr class="soften"/>
            {% endfor %}
                
               </ul>
        </div>
    
                      <div class="well well-small alert alert-warning cntr">
                          <h2>Add Your ADS here</h2>
                          <p> 
                         
                          Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
                          </p>
                      </div>           
                    <a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
                    <br>
                    <br>
                    <ul class="nav nav-list promowrapper"></ul>
        
            </div>



	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'thriftNEP:home' %}">Home</a> <span class="divider">/</span></li>
		<li class="active">Reset Password</li>
    </ul>
	<h3>Reset Password</h3>	
	<hr class="soft"/>
	<div class="well">
        <form action="" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button>Reset Password</button>
        </form>
</div>

</div>
</div>

</div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

{% endblock %}
