{% extends 'base.html' %}
{% load static %}

<title>{%block title%}Register{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
		<div class="well well-small">
		  <p style="text-align: center; font-weight:bold;">All Category</p>
			<ul class="nav nav-list">
			{% for cat in category %}
			<hr class="soften"/>
			<li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
			<hr class="soften"/>
			{% endfor %}
				
			   </ul>
		</div>
	
					  <div class="well well-small alert alert-warning cntr">
						  <h2>Add Your ADS here</h2>
						  <p> 
						 
						  Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
						  </p>
					  </div>           
					<a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
					<br>
					<br>
					<ul class="nav nav-list promowrapper"></ul>
		
			</div>



	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'thriftNEP:home' %}">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<hr class="soft"/>
	<div class="well">
	<form class="form-horizontal" action="" method="POST">
		{% csrf_token %}
		<h3 style="text-align: center;">Please Register To Become A Member</h3>
        <hr>

		<div class="control-group">
			<label class="control-label" for="inputFname">Username:<sup>*</sup></label>
			<div class="controls">
			  <input  type="text" class="form-control" id="inputFname" placeholder="Username" name="user" required />
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="inputLname">Full Name:<sup>*</sup></label>
			<div class="controls">
			  <input name="full_name" type="text" id="inputLname" placeholder="Full Name" required />
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="inputEmail">Your Email:<sup>*</sup></label>
		<div class="controls">
		  <input name="email" type="text" placeholder="Email" required>
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Your Password:<sup>*</sup></label>
		<div class="controls">
		  <input name="password" type="password" placeholder="Password" required>
		</div>
	  </div>

      <div class="control-group">
		<label class="control-label">Your Address:<sup>*</sup></label>
		<div class="controls">
		  <input name="address" type="text" placeholder="Enter the current location" required>
		</div>
	  </div>

      <div class="control-group">
		<label class="control-label">Your Mobile No: <sup>*</sup></label>
		<div class="controls">
		  <input name="number" type="number" placeholder="+977" required>
		</div>
	  </div>

	<div class="control-group">
		<div class="controls">
         <a href="{%url 'thriftNEP:sellerlogin' %}"><p style="font-weight:bold">Already Register? <span style="color:rgb(233, 15, 15)">sigin</span></p></a> 
		 <input type="submit" name="submitAccount" value="Register" class="exclusive shopBtn">
		</div>
	</div>
	</form>
</div>

</div>
</div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/js/shop.js"></script>

{% endblock %}
