{% extends 'base.html' %}
{% load static %}

<title>{%block title%}Register{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
		<div class="well well-small">
		  <p style="text-align: center; font-weight:bold;">All Category</p>
			<ul class="nav nav-list">
			{% for cat in category %}
			<hr class="soften"/>
			<li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
			<hr class="soften"/>
			{% endfor %}
				
			   </ul>
		</div>
	
					  <div class="well well-small alert alert-warning cntr">
						  <h2>Add Your ADS here</h2>
						  <p> 
						 
						  Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
						  </p>
					  </div>           
					<a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
					<br>
					<br>
					<ul class="nav nav-list promowrapper"></ul>
		
			</div>



	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'thriftNEP:home' %}">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<hr class="soft"/>
	<div class="well">
	<form class="form-horizontal" action="" method="POST">
		{% csrf_token %}
		<h3 style="text-align: center;">Please Register To Become A Member</h3>
        <hr>

		<div class="control-group">
			<label class="control-label" for="inputFname">Username:<sup>*</sup></label>
			<div class="controls">
			  <input  type="text" class="form-control" id="inputFname" placeholder="Username" name="user" required />
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="inputLname">Full Name:<sup>*</sup></label>
			<div class="controls">
			  <input name="full_name" type="text" id="inputLname" placeholder="Full Name" required />
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="inputEmail">Your Email:<sup>*</sup></label>
		<div class="controls">
		  <input name="email" type="text" placeholder="Email" required>
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Your Password:<sup>*</sup></label>
		<div class="controls">
		  <input name="password" type="password" placeholder="Password" required>
		</div>
	  </div>

      <div class="control-group">
		<label class="control-label">Your Address:<sup>*</sup></label>
		<div class="controls">
		  <input name="address" type="text" placeholder="Enter the current location" required>
		</div>
	  </div>

      <div class="control-group">
		<label class="control-label">Your Mobile No: <sup>*</sup></label>
		<div class="controls">
		  <input name="number" type="number" placeholder="+977" required>
		</div>
	  </div>

	<div class="control-group">
		<div class="controls">
         <a href="{%url 'thriftNEP:sellerlogin' %}"><p style="font-weight:bold">Already Register? <span style="color:rgb(233, 15, 15)">sigin</span></p></a> 
		 <input type="submit" name="submitAccount" value="Register" class="exclusive shopBtn">
		</div>
	</div>
	</form>
</div>

</div>
</div>

<section class="our_client">
	<hr class="soften"/>
	<h4 class="title cntr"><span class="text">For More Information</span></h4>
	<hr class="soften"/>
	<div class="row">
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/khalti.png' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/e.jpg' %}"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="{% static 'img/fonepay.png' %}"></a>
		</div>

    <div class="span2">
			<a href="#"><img alt="" src="{% static 'img/esea.png' %}"></a>
		</div>

    <div class="span2">
			<a href="#"><img alt="" src="{% static 'img/esewa.png' %}"></a>
		</div>

</section>


<footer class="footer">
<div class="row-fluid">
<div class="span2">
<h5>Your Account</h5>
<a href="{%url 'thriftNEP:sellerprofile' %}">Personal Account</a><br>


 </div>
<div class="span2">
<h5>Iinformation</h5>
<a href="{% url 'thriftNEP:help'%}">Help</a><br>

 </div>
<div class="span2">
<h5>Our Offer</h5>
<a href="{% url 'thriftNEP:home' %}">OUR PRODUCTS</a> <br>
<a href="#">TOP SELLERS</a><br>

 </div>
 <div class="span6">
<h5>About Us</h5>

 </div>
 </div>
</footer>
</div>

<br>
<div class="copyright" style="background-color: #ffffff;">
<div class="container">
	<p class="pull-right">
		<a href="{% url 'thriftNEP:home' %}"><img src="{% static 'img/logo1.png' %}" alt="logo" style="height:30px; width:150px;"></a>

	</p>
	<span style="font-size: 16px;">Copyright &copy; 2022 Designed By :: <span style="color: #252427; font-weight:bolder; font-style:unset">DINESH PARIYAR</span> </span>
</div>
</div>


    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>


{% endblock %}
