{% extends 'base.html' %}
{% load static %}

<title>{%block title%}Search{%endblock%}</title>

{% block content %}

<div class="row">
  <div id="sidebar" class="span3">
    <div class="well well-small">
      <p style="text-align: center; font-weight:bold;">All Category</p>
        <ul class="nav nav-list">
        {% for cat in category %}
        <hr class="soften"/>
        <li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
        <hr class="soften"/>
        {% endfor %}
            
           </ul>
    </div>

                  <div class="well well-small alert alert-warning cntr">
                      <h2>Add Your ADS here</h2>
                      <p> 
                      
                      Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
                      </p>
                  </div>           
                <a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
                <br>
                <br>
                <ul class="nav nav-list promowrapper"></ul>
    
        </div>
        


        <div class="row">
          <h3 style="text-align: center;">Your Search Results for <span class="text-info"> "{{key}}"</span></h3>
          <div class="span9">
          <div class="well well-small">
            {% for result in search_list%}
            <div class="row-fluid">	 
              <div class="span2">
                <a href="{% url 'thriftNEP:productdetail' result.slug%}"><img src="{{result.image.url}}" alt="" style="height:120px; width:100px;"></a>
              </div>
              <div class="span6">
                <h5><a href="{% url 'thriftNEP:productdetail' result.slug %}">{{result.title}}</a></h5>
                <p>
                  <p>{{result.description|truncatewords:50}}</p>
                </p>
              </div>
              <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
              <h4 > Rs. {{result.price}}</h4><br>
              <div class="btn-group">
                <!-- <a href="{% url 'thriftNEP:productdetail' result.slug%}" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a> -->
                <a href="{% url 'thriftNEP:productdetail' result.slug%}" class="shopBtn">VIEW</a>
               </div>
                </form>
              </div>
            </div>
            <br>
            <hr class="soften">
              {% endfor %}
            
            <br>
          </div>
          </div>
          </div>


                <hr/>
  
        </div>
      
        <center style="font-size: 20px;font-weight:bold">
            {% if search_list.has_previous %} {# whether the previous page exists #}
                <a href="?page={{search_list.previous_page_number}}">&laquo;</a> {# link to the prev page #}
            {% endif %}
            <span>{{search_list.number}}</span> {# the current page number #}
            
            {% if search_list.has_next %} {# whether the next page exists #}
                <a href="?page={{search_list.next_page_number}}">&raquo;</a> {# link to the next page #}
            {% endif %}
        </center>




<!--            
    <nav aria-label="...">
      <ul class="pagination">
          {% if search_list.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ search_list.previous_page_number }}" 
              >Previous</a>
            </li>
          {% else %}
        <li class="page-item disabled ">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% for i in search_list.paginator.page_range %}

        {% if i == search_list.number %}
        <li class="page-item active"><a class="page-link">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        
        {% if search_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ search_list.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" 
          tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav> -->



    <section class="our_client">
      <hr class="soften"/>
      <h4 class="title cntr"><span class="text">For More Information</span></h4>
      <hr class="soften"/>
      <div class="row">
        <div class="span2">
          <a href="#"><img alt="" src="{% static 'img/khalti.png' %}"></a>
        </div>
        <div class="span2">
          <a href="#"><img alt="" src="{% static 'img/e.jpg' %}"></a>
        </div>
        <div class="span2">
          <a href="#"><img alt="" src="{% static 'img/fonepay.png' %}"></a>
        </div>
    
        <div class="span2">
          <a href="#"><img alt="" src="{% static 'img/esea.png' %}"></a>
        </div>
    
        <div class="span2">
          <a href="#"><img alt="" src="{% static 'img/esewa.png' %}"></a>
        </div>
    
    </section>
    
    
    <footer class="footer">
    <div class="row-fluid">
    <div class="span2">
    <h5>Your Account</h5>
    <a href="{%url 'thriftNEP:sellerprofile' %}">Personal Account</a><br>
    
    
     </div>
    <div class="span2">
    <h5>Iinformation</h5>
    <a href="{% url 'thriftNEP:help'%}">Help</a><br>
    
     </div>
    <div class="span2">
    <h5>Our Offer</h5>
    <a href="{% url 'thriftNEP:home' %}">OUR PRODUCTS</a> <br>
    <a href="#">TOP SELLERS</a><br>
    
     </div>
     <div class="span6">
    <h5>About Us</h5>
    
     </div>
     </div>
    </footer>
    </div>
    
    <br>
    <div class="copyright" style="background-color: #ffffff;">
    <div class="container">
      <p class="pull-right">
        <a href="{% url 'thriftNEP:home' %}"><img src="{% static 'img/logo1.png' %}" alt="logo" style="height:30px; width:150px;"></a>
    
      </p>
      <span style="font-size: 16px;">Copyright &copy; 2022 Designed By :: <span style="color: #252427; font-weight:bolder; font-style:unset">DINESH PARIYAR</span> </span>
    </div>
    </div>
    
    
        <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
        <script src="{% static 'js/shop.js' %}"></script>

{% endblock %}