{% extends 'base.html'%}

{% block title %} Search {% endblock %}

{% block content %}
<div class="container">
    <div class="row ng-scope">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info"> "{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results%}
            <div class="row p-3">
                <div class="col-md-4"><hr>
                    <img src="{{result.image.url}}" class="img-thumbnail" style="height: 250px; width:220px; object-fit:cover">
                </div>
                <div class="col-md-8"><hr>
                    <h4><a href="{% url 'thriftNEP:productdetail' result.slug %}">{{result.title}}<a></h4>
                    <p>{{result.description|truncatewords:50}}</p>
                    <p>Return Policy:{{result.return_policy}}</p>
                    {% if result.status == "Sold" %}
                <p class="text-danger">Product Already Sold</p>
                {% endif %}
                    <a href="{% url 'thriftNEP:productdetail' result.slug%}" class="btn btn-info">View</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
</div>

{% endblock %}