{% extends 'base.html' %}
{% load static %}

<title>{%block title%}Profile{%endblock%}</title>
{% block content %}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
          <p style="text-align: center; font-weight:bold;">All Category</p>
            <ul class="nav nav-list">
            {% for cat in category %}
            <hr class="soften"/>
            <li><a href="{% url 'thriftNEP:filter' cat.title  %}" ><span class="icon-chevron-right"></span>{{cat.title}}</a></li>
            <hr class="soften"/>
            {% endfor %}
                
               </ul>
        </div>
    
                      <div class="well well-small alert alert-warning cntr">
                          <h2>Add Your ADS here</h2>
                          <p> 
                         
                          Become member to Add your post<br><br><a class="defaultBtn" href="{% url 'thriftNEP:sellerproductcreate' %}">Add Product</a>
                          </p>
                      </div>           
                    <a class="shopBtn btn-block" href="#">Upcoming products <br><small></small></a>
                    <br>
                    <br>
                    <ul class="nav nav-list promowrapper"></ul>
        
            </div>



	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% url 'thriftNEP:home' %}">Home</a> <span class="divider">/</span></li>
		<li class="active">My Profile</li>
    </ul>
	<h3>My Products</h3>	
	<div class="well">
          <div class="row">
              <ul class="thumbnails" style="margin-left: 12px !important;">
                {%for p in product_list%}
                <li class="span4" style="height: 350px;width:200px" >
                  <div class="thumbnail" style="height: 350px;width:200px">
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}" class="overlay"></a>
                    <!-- <a class="zoomTool" href="{% url 'thriftNEP:productdetail' p.slug%}" title="add to cart"><span class="icon-search"></span>Interested</a> -->
                    <a href="{% url 'thriftNEP:productdetail' p.slug%}"><img src="{{p.image.url}}" alt="" style="height:180px;"></a>
                    <div class="caption cntr">
                        <h3><a href="{% url 'thriftNEP:productdetail' p.slug%}" style="color: rgb(119, 111, 208);">{{p.title}}</a></h3>
                        <p><strong>price: Rs.{{p.price}}</strong></p>
                        {% if p.status == "Sold" %}
                        <p></p><br>
                        <h4 style="color: rgb(253, 5, 5);"> Product Already Sold</h4>
                        {% else %}
                        {% if p.status == "Sold" %}
                        <p style="color:rgb(189, 26, 26);">Product Already Sold</p>
                        {% else %}
                        <a href="{% url 'thriftNEP:sellerproductsold' p.id %}" class="btn btn-info p-2">Already Sold?</a> <br>
                        {% endif %}                        <br class="clr">
                        {% endif %}
                    </div>
                  </div>
                </li>
                {%endfor%}
              </ul>
            </div>   
       
            <div class="container" style="padding-left: 10px;">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'thriftNEP:sellerproductcreate' %}" class="btn btn-warning" style="text-align:center">Add New Product</a>
                    <hr>
                    <h3>Detail informations</h3>
                    
                    <p style="font-size:bold;"><span class="font-weight-bold">Name:         </span>{{seller.full_name}}</p>
                    <p style="font-size:bold;"><span class="font-weight-bold">Username:     </span>{{seller.user.username}}</p>
                    <p style="font-size:bold;"><span class="font-weight-bold">Email:        </span>{{seller.user.email}}</p>
                    <p style="font-size:bold;"><span class="font-weight-bold">Address:      </span>{{seller.address}}</p>
                    <p style="font-size:bold;"><span class="font-weight-bold">joined on:    </span>{{seller.joined_on}}</p>
                </div>
            </div>
        </div>
            <div class="row strip">
                <div class="col-md-12">
                    <h3 style="padding-left:10px; text-align:center;">Product List</h3>
                    <table class="table">
                        <thead>
                            <tr style="padding:5px;">
                                <td>SN</td>
                                <td>Product</td>
                                <td>Price</td>
                                <td>Status</td>
                                <td>Creatd At</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in product_list %}
                            
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{product.title}}</td>
                                <td>Rs,{{product.price}}</td>
                                <td>{{product.status}}</td>
                                <td>{{product.uploaded_on|date}}</td>
                                {% if product.status != "Sold" %}
                                <td><a href="{% url 'thriftNEP:sellerproductsold' product.id %}" class="btn btn-success">Sold.?</a></td>
                                {% else %}
                                <td><a href="{% url 'thriftNEP:delete_product' product.id %}" class="btn btn-danger">Delete</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        
</div>

</div>
</div>



</div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

{% endblock %}
