{% extends 'base.html' %}
{% load static %}

<title>{%block title%}Register{%endblock%}</title>
{% block content %}

<div class="row">
<div id="sidebar" class="span3">
    <div class="well well-small">
        <p style="text-align: center; font-weight:bold;">All Category</p>
        <ul class="nav nav-list">
            <li><a href="products.html"><span class="icon-chevron-right"></span>Mobile</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Laptop</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Musical Instrument</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion </a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Furniture</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Vehicles</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Machinery</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Toys & Games</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Pets & Petcare</a></li>
            <li><a href="products.html"><span class="icon-chevron-right"></span>Real Estates</a></li>
            
           </ul>
    </div>

			  <div class="well well-small alert alert-warning cntr">
				  <h2>50% Discount</h2>
				  <p> 
                    Negiotion as per Seller.<br><br><a class="defaultBtn" href="#">Click here </a>
				  </p>
			  </div>			
			<a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
			<br>
			<br>

	</div>



	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<hr class="soft"/>
	<div class="well">
	<form class="form-horizontal">
		<h3 style="text-align: center;">Please Login As A Member</h3>
        <hr>

		<div class="control-group">
			<label class="control-label" for="inputFname">Username:<sup>*</sup></label>
			<div class="controls">
			  <input name="username" type="text" id="inputFname" placeholder="Username" required>
			</div>
		 </div>

	  
		<div class="control-group">
		<label class="control-label">Your Password:<sup>*</sup></label>
		<div class="controls">
		  <input name="password" type="password" placeholder="Password" required>
		</div>
	  </div>

	<div class="control-group">
		<div class="controls">
         <a href="{%url 'thriftNEP:sellerregistration' %}"><p style="font-weight:bold">Haven't Registered YET? <span style="color:rgb(233, 15, 15)">Register</span></p></a> 
		 <input type="submit" name="submitAccount" value="Register" class="exclusive shopBtn">
		 p>Forgit? Password?<a href="{% url 'thriftNEP:forgotpw' %}">Reset now</a></p>
                <p>don't have account?<a href="{%url 'thriftNEP:sellerregistration' %}">Register here</a></p>
		</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
	</div>
	</form>
</div>

</div>
</div>
<!-- 
Clients 
-->
<section class="our_client">    
	<hr class="soften"/>
	<h4 class="title cntr"><span class="text">Manufactures</span></h4>
	<hr class="soften"/>
	<div class="row">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/1.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/2.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/3.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/4.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/5.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/6.png"></a>
		</div>
	</div>
</section>

<!-- foorter -->
<footer class="footer">
<div class="row">
<div class="span2">
<h5>Your Account</h5>
<a href="#">YOUR ACCOUNT</a><br>
<a href="#">PERSONAL INFORMATION</a><br>
<a href="#">ADDRESSES</a><br>
<a href="#">DISCOUNT</a><br>
<a href="#">ORDER HISTORY</a><br>
 </div>
<div class="span2">
<h5>Iinformation</h5>
<a href="contact.html">CONTACT</a><br>
<a href="#">SITEMAP</a><br>
<a href="#">LEGAL NOTICE</a><br>
<a href="#">TERMS AND CONDITIONS</a><br>
<a href="#">ABOUT US</a><br>
 </div>
<div class="span2">
<h5>Our Offer</h5>
<a href="#">NEW PRODUCTS</a> <br>
<a href="#">TOP SELLERS</a><br>
<a href="#">SPECIALS</a><br>
<a href="#">MANUFACTURERS</a><br>
<a href="#">SUPPLIERS</a> <br/>
 </div>
 <div class="span6">
<h5>The standard chunk of Lorem</h5>
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
 those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et 
 Malorum" by Cicero are also reproduced in their exact original form, 
accompanied by English versions from the 1914 translation by H. Rackham.
 </div>
 </div>
</footer>
</div><!-- /container -->

<div class="copyright">
  <div class="container">
    <p class="pull-right">
      <a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
    </p>
    <span>Copyright &copy; 2022 | thriftNEP store BY: Dinesh Pariyar</span>
  </div>
  </div>
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/js/shop.js"></script>

{% endblock %}
